// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a {
	color: #8D80AD;
}

#header {

	position: fixed;
	width: 100%;
	height: 25%;
	z-index: 1;
	
	#topImgContainer {

		position: relative;
		width: 100%;
		height: 80%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}

	.orange-bg {
		background-color: #EE8434;
	}

	#navContainer {

		position: absolute;
		bottom: 0;
		width: 100%;
		color: #FFF;

		.container {

			.navbar {

				.navbar-brand {

					margin-right: 40px;
					
				}

				.nav-item {

					margin-left: 10px;

				}

				.nav-item:hover {

					cursor: pointer;

				}

				img.logo {

					height: 50px;

				}

			}

		}

	}

}

#contentWrapper {

	position: fixed;
	top: 25%;
	width: 100%;
	height: 70%;
	overflow-y: scroll;

	#contentScroll {

		#content {

			position: relative;
			float: left;
			background-color: #85E077;
			color: #694D4D;
			padding: 50px;
			text-align: justify;
			width: 65%;

			margin-top: 50px;
			margin-bottom: 50px;

			h1,h2,h3,h4,h5,h6,p {

				margin-bottom: 30px;

			}

		}

		#sidebar {

			margin-top: 50px;
			margin-bottom: 50px;

			position: relative;
			float: right;
			width: 30%;
			background-color: #85E077;
			color: #694D4D;
			min-height: 800px;

		}

	}

}

#footer {

	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFF;
	background-color: #EE8434;

}